<!--The content below is only a placeholder and can be replaced.-->
<ngx-select-multiple label="Frutas" [items]="frutas" displayKey="name" placeholder="Procurar..." (valueChange)="onValueChange($event)"></ngx-select-multiple>
<ngx-select-multiple label="Carros" [items]="carros" displayKey="nomeCarro" placeholder="Procurar..." (valueChange)="onValueChange($event)"></ngx-select-multiple>
<ngx-select-multiple label="Cidades" [items]="cidades" displayKey="nomeCidade" placeholder="Procurar..." (valueChange)="onValueChange($event)"></ngx-select-multiple>
