<!--The content below is only a placeholder and can be replaced.-->
<ngx-select-multiple label="Frutas" [items]="frutas" nameKey="name" placeholder="Procurar..." (valueChange)="onValueChange($event)"></ngx-select-multiple>
<ngx-select-multiple label="Carros" [items]="carros" nameKey="nomeCarro" placeholder="Procurar..." (valueChange)="onValueChange($event)"></ngx-select-multiple>
<ngx-select-multiple label="Cidades" [items]="cidades" nameKey="nomeCidade" placeholder="Procurar..." (valueChange)="onValueChange($event)"></ngx-select-multiple>
